body{
    font-family: 'Montserrat', sans-serif;
}

.hero-subtitle{
    font-family: 'Courgette', cursive;
}

.hero-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

    <!---------------------navigationbar--------------------->

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}